---
import MobileSummary from "./MobileSummary.svelte";

---

<section class="footer-booking-summary">
    <div class="container">
        <div class="content" style="min-height: 48px;">
            <div class="left-content" style="min-height: 48px;">
                <MobileSummary client:load/>
            </div>
            <div class="right-content">
                <div class="w-full scroll-smooth">
                    <button class="btn-cta">
                        <div class="button_button">Book</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="postcss">
    .footer-booking-summary {
        @apply lg:hidden fixed bottom-0 w-full border-solid border-t border-slate-300;
        background: hsla(0,0%,100%,.95);
    }

    :global(body.mobile-show-booking .footer-booking-summary) {
        display: none;
        visibility: hidden;
    }


    .container {
        @apply flex items-center py-0 px-4 m-auto h-16 leading-none sm:m-auto lg:m-auto lg:px-10 lg:py-0 scroll-smooth text-zinc-800;
    }
    .content {
        @apply flex justify-between items-center w-full leading-3 scroll-smooth;
    }

    .left-content {
        @apply flex float-left flex-grow-0 items-center scroll-smooth w-1/2;
    }

    .right-content {
        @apply flex float-right items-center scroll-smooth flex-grow w-1/2;
    }

    .btn-cta {
        @apply w-full relative p-0 -my-1 font-sans text-xl font-bold text-center bg-none border-0 cursor-pointer py-2 px-6 m-0 leading-6 text-white normal-case bg-fuchsia-800 hover:bg-fuchsia-700 transition-all ease-in-out duration-150 rounded-lg;
        min-width: 48px;
        min-height: 48px;
        overflow: hidden;
    }

    @keyframes moveAfterCTA {
        0% {
            opacity: 0;
            -webkit-transform: translateX(-100px) skewX(-15deg);
            transform: translateX(-100px) skewX(-15deg)
        }

        20%,to {
            opacity: 1;
            -webkit-transform: translateX(35vw) skewX(-15deg);
            transform: translateX(35vw) skewX(-15deg)
        }
    }

    @keyframes moveBeforeCTA {
        0% {
            opacity: 0;
            -webkit-transform: translateX(-100px) skewX(-15deg);
            transform: translateX(-100px) skewX(-15deg)
        }

        20%,to {
            opacity: .6;
            -webkit-transform: translateX(35vw) skewX(-15deg);
            transform: translateX(35vw) skewX(-15deg)
        }
    }

    .btn-cta:after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        background: hsla(0,0%,100%,.4);
        width: 30px;
        left: 30px;
        top: 0;
        opacity: 0;
        filter: blur(5px);
        user-select: none;
        pointer-events: none;
        
        transform: translateX(-100px) skewX(-15deg);
    
        transition: .6s;
        animation-name: moveAfterCTA;
        animation: 5s infinite;
        outline-style: none!important;
    }

    .btn-cta:before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        top: 0;
        user-select: none;
        pointer-events: none;

        background: hsla(0,0%,100%,.8);
        background: linear-gradient(90deg, transparent, hsla(0,0%,100%,.2) 15%, hsla(0,0%,100%,.3) 85%, transparent);
        width: 60px;
        left: 0;
        opacity: .5;
        
        transform: translateX(-100px) skewX(-15deg);
    
        transition: .6s;
        animation: 5s infinite;
        outline-style: none!important;
        animation-name: moveBeforeCTA;
    }
</style>